@font-face {
    font-family: 'B Morvarid';
    src: url('fonts/BMorvarid.woff2') format('woff2'),
         url('fonts/BMorvarid.woff') format('woff'),
         url('fonts/BMorvarid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
=